body{
  font-family: sans-serif;
  color: #255536;
  border-left:2px solid #1a2dda;
  border-right:2px solid #1a2aac;
  border-top:2px solid #1a22a3;
  border-bottom:2px solid #1a21aa;
}
h1, h2{
  color:gary;
}
h1{
  border-bottom:1px solid #99acdf;
  border-top:1px dotted #678855;
  border-left:1px dotted #ddacdf;
  border-right-style: initial;
  border-right-color: lavenderblush;
  border-right-width: 1vw;
  background-image: url(IMG/lightblue.jpg);
  padding:60px;
  padding: bottom 0;
  margin:20px;
  background-repeat:no-repeat;
}
